.root {
  background: var(--palette-paper);
  border: 1px solid var(--palette-border);
  width: 100%;
  height: auto;
  padding: 1rem;
  /* box-shadow: 2px 2px 5px var(--palette-box-shadow); */
  /*todo: RD Can check if the drop shadow is needed by default or only on hover; */
}

.root:hover {
  box-shadow: 2px 2px 5px var(--palette-box-shadow);
}

.header {
  /* border-bottom: 1px #CCCCCC solid; */
  font-size: 1.25rem;
  font-weight: 700;
}
