
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "Akkurat";
    src: url("/fonts/Akkurat/Akkurat-Regular.otf");
    font-display: swap;
  }
  body{
      font-family:'Akkurat';
  }


  .header{
     
 border-image:
         linear-gradient(
    90deg
    , #a5d867 0, #0097ba 100%);
}